@media all and (max-width: 1000px) {
    footer{
    text-align: center;
    }
  }
  
  /* スマホ向けレイアウト */
  @media all and (max-width: 660px) {
    .top-wrapper{
        height: 900px;   
        background-size: 350px;
    }

    .container h1{
        font-size: 20px;
        line-height: 1.7;
    }
    
    .container span{
        background-color: black;
        border-radius: 40px;
        padding: 5px 10px;
    }
    
    .container h2{
        font-size: 17px;
    }

    .item{
        display: block;
        margin-top: 50px;
    }

    .item p{
        padding-bottom: 0;
        font-size: 15px;
    }

    .btn {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 15px;
    }

    .line{
        margin-bottom: 20px;
    }

    .items{
        margin-right: 0;
        margin-top: 50px;
    }

     .info{
        display: block;
   
     }
  }
