@charset "utf-8";

*{
    box-sizing: border-box;
  }

/*ヘッダー*/
header{
    height: 60px;
}

/*ラッパー*/
.top-wrapper{
    color: white;
    text-align: center;
    padding-top: 60px;
    background-image: url("https://github.com/anyrina/girls_junk/blob/main/member.png?raw=true") ;
    height: 900px;
}

/*テキスト*/
.container h1{
    font-size: 45px;
    letter-spacing: 5px;
}

.container span{
    background-color: black;
    border-radius: 40px;
    padding: 10px 30px;
}

.container h2{
    text-shadow: 3px 3px 2px #ffa600;
}

/*リンク*/
.item{
    display: flex;
    margin: 50px 60px 0;
    color: black;
    justify-content: center;
}

.item p{
    font-size: 20px;
    color: black;
    text-shadow: 3px 3px 2px white;
    padding-bottom: 10px;
    
}

.items{
    margin-right: 40px;
}

/*SNS*/
.btn{
    color: white;
    padding: 5px 10px;
    display: inline-block; 
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.5em;
}
.btn:hover{
    color: black;
}

.icon{
    margin-right: 5px;
}

.line{
    background-color: #02D43D;
    margin-bottom: 20px;
} 

.instagram{
    background-color: #DC65FF;
}

.info{
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}

.info img{
    height: 150px;
    background: #e0dfdf;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border: solid 3px gray;
}

footer{
    float: right;
}

