@media all and (max-width: 660px) {
    footer {
        padding-top: 2rem;
    }

    footer p {
        padding: 1rem;
        width: 11rem;
    }

    .footer_info {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 13rem;
        height: 12rem;
    }

    .footer_sns {
        display: flex;
        position: absolute;
        top: 3rem;
        left: 0;
    }

    .instagram {
        padding-right: 3rem;
    }

    .copy p {
        width: 100%;
        padding: 0;
    }

}