 @media all and (max-width: 1000px) { 
    .background_rock {
        display: none;
    }

    .sheet {
        width: 100%;
    }

    #sheet2 {
        left: 0;
    }

    #header {
        width: 100%;
    }

    #header.invert {
        width: 100%;
    }

    #position {
        margin-right: 0.3rem;
    }

    .drawer_open {
        width: 40px;
    }   

    /* アイコンがクリックされたらメニューを表示 */
    #drawer_input:checked ~ .nav_content {
        left: 0;/* メニューを画面に入れる */
    }
        
}
