@media all and (max-width: 660px) {

    /*header*/
    #header.invert {
        width: 100%;
    }

    /*top wrapper*/
    /*menu*/
    .table_menu {
        white-space: nowrap;
        font-size: 3.5vw;
    }

    .menu_other p {
        width: 12rem;
    }

    .menu_other {
        padding-left: 1rem;
        font-size: 3.5vw;
        margin-top: 1rem;
    }
    /*staff*/
    .staff_item img {
        height: 10rem;
        margin-top: 3rem;
    }


}