main {
    margin-top: 7rem;
    text-align: center;
}

.event_now h2 {
    height: 1.5em;
    margin-top: 6.5rem;
    text-shadow: 3px 3px black;
}

.event_now {
    height: 15rem;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
    background-image: url("../images/event_backimg.png");
}

.event_past {
    margin-top: 3rem;
}

.event_past h2 {
    font-weight: lighter;
}

.table_event_past {
    margin: 0 auto;
}

.day {
    width: 7rem;
    text-align: left;
}