/*footer*/
.map {
    margin: 0 auto;
}
iframe {
    width: 100%;
}

footer {
    padding-top: 5rem;
}

footer p {
    padding: 2rem;
}

.footer_info {
    display: flex;
}

.f-fa {
    margin-top: 3rem;
}

.instagram {
    color: pink;
    font-size: 5rem;
    padding: 0 1rem;
}

.line {
    font-size: 4.7rem;
}

.copy {
    text-align: center;
    font-size: 0.9rem;
}
