html {
    font-size: 100%;
}

body {
    display: flex;
}

#sheet2 {
    color: white;
}

a {
    text-decoration: none;
    color: #fff;
}

#sheet2  {
    color: white;
}

.sheet {
    width: calc(100%/3);
}



/*********** sheet1,3 (img.rock) ***********/
.backgroud_rock {
    color: black;
    position: fixed;
    height: 30rem;
}

#sheet1 {
    color: black;
    position: fixed;
}

#sheet3 {
    position: fixed;
    left: 66%
}
/*********** sheet2 (on) ***********/
#sheet2 {
    background-color: black; 
    position: absolute;
    left: calc(100%/3);
}

/*main*/
main {
    margin-top: 6rem;
    text-align: center;
}

main img {
    width: 10rem;
}

.p_item {
    margin: 3rem 0;
}

.p_flex {
    display: flex;
    width: 16rem;
    margin: 0 auto;
}

h2 {
    vertical-align: middle;
    margin-top: 4rem;
    margin-right: 2rem;
}
