/*main*/
main {
    margin-top: 4rem;
    text-align: center;
}

main h1{
    width: 14rem;
    font-weight: lighter;
    margin: 4rem auto;
    border-radius: 50px;
	background-color: #ef858c; /* 背景色 */
	color: #fff; /* 文字色 */
	overflow: hidden;
	position: relative;
}
main h1:before{
	background-color: #fff; /* 切り替わる色1 */
	content: '';
	display: block;
	opacity: 0.3; /* 不透明度 */
	transform: rotate(-50deg);
	position: absolute;
	bottom: -10px;
	right: -330px;
	width: 500px;
	height: 500px;
}
main h1:after{
	background-color: #fff; /* 切り替わる色2 */
	content: '';
	display: block;
	opacity: 0.3; /* 不透明度 */
	transform: rotate(-70deg);
	position: absolute;
	bottom: -100px;
	right: -500px;
	width: 500px;
	height: 500px;
}

main h2 {
    vertical-align: middle;
    margin-top: 4rem;
    margin-right: 2rem;
}

.plofiel_top  {
	width: 100%;
	background-color: aquamarine;
}

.p_item {
    width: 90%;
    padding: 2rem 0;
    margin: 0 auto;
    margin-bottom:0.5rem;
    border: solid rgb(142, 142, 142) 1px;
    background-color: rgb(65, 65, 65);
    border-radius: 10px;
}

.p_flex img {
    width: 10rem;
}

.nae {
    margin-top: 20px;
}

.yuka {
    margin-bottom: 0;
}

.miharu h2 {
    margin-right: 0.5rem;

.p_flex {
    display: flex;
    width: 16rem;
    margin: 0 auto;
}

